* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body, html{ 
    width: 100%;
    height: 100%;
    background-color: aliceblue;
}

header {
    background-color: #005185;
    color: aliceblue;
    display: flex;
    align-items: center;
    width: 100%;
    height: 10%;
    min-height: 70px;
    justify-content: center;
}

header > a {
    color: white;
    font-size: 27px;
    text-decoration: none;
    position: absolute;
    margin-left: -87%;
    font-weight: 700;
}

header > a:hover { color: #6cffb8 !important }

header > a > span {
    font-size: 17px;
    margin-left: -7px;
}

header > img { width: 200px }

header > span {
    margin-top: 9px;
    font-size: 1.3em;
    font-weight: 400;
    margin-left: -5px;
}

main {
    display: flex;
    justify-content: center;
}

main > div {
    width: 87%;
    display: flex;
    flex-direction: column;
    margin: 17px 0px;
    max-width: 827px;
}

.linha {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.coluna {
    display: flex;
    flex-direction: column;
}

.itens-abaixo { justify-content: flex-end }

.tamanho-25 { width: 25% }

.tamanho-50 { width: 50% }

.tamanho-100 { width: 100% }

footer {
    min-height: 70px;
    background-color: #005185;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer > button {
    width: 70%;
    max-width: 667px;
    height: 35px;
}

footer > button:hover { background: linear-gradient(0deg, #00b661, #038146) }

button {
    background-color: #00b661;
    background: linear-gradient(0deg, #008d4b, #00b661);
    border-radius: 4px;
    border: none;
    color: aliceblue;
    font-size: 1.1em;
    font-weight: 700;
}

button:hover { background: linear-gradient(0deg, #00b661, #008d4b) }

@media (max-width: 800px) { 
    header > a { margin-left: -83%; font-size: 37px; margin-bottom: 10px; }

    header > a > span { display: none; }

    main > div { width: 97% }

    .tamanho-25 { width: 50% }

    .tamanho-50 { width: 100% }

    .tamanho-100 { width: 100% }
}

::-webkit-scrollbar {
    width: 5px;
    background-color: b0b6bf24;
}

::-webkit-scrollbar-track { background: transparent }

::-webkit-scrollbar-thumb { background: #b1b7bf }

::-webkit-scrollbar-thumb:hover { background: #555 }